@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 256 0% 100%;
        --foreground: 240 10% 3.9%;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 0 0% 95%;
    }
}

@layer base {
    :root {
        min-width: 1024px;
    }

    body {
        @apply bg-background text-foreground;

        line-height: 1.6;

        transition-property: opacity, background, transform, filter;
        transition-timing-function: ease;
        transition-duration: 500ms;
    }
}
